/* Достижения */
.scrollbar_wrap-nagr.scrollbar_wrap {
	height: 190px;
}

/* Рейтинг пользователей */
.table-nagrs.scrollbar_wrap {
	height: 583px;
}

/* Лента событий */
.scrollbar_wrap-lenta.scrollbar_wrap {
	height: 683px;
}
.scrollbar_wrap-lenta.scrollbar_wrap .upd {
	margin-left: 30px;
	margin-right: 30px;
}
@media (max-width: 1060px) {
	/* Достижения */
	.scrollbar_wrap-nagr.scrollbar_wrap {
		height: 180px;
	}

	/* Рейтинг пользователей */
	.table-nagrs.scrollbar_wrap {
		height: 580px;
	}

	.scrollbar_wrap-lenta.scrollbar_wrap .upd {
		margin-left: 30px;
		margin-right: 30px;
	}
}
